<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <i class="fa" [ngClass]="sidenav.opened ? 'fa-times' : 'fa-bars'"></i>
  </button>
  <span class="title">HIBAHKU</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <i class="gg gg-hibahku menu-logo"></i>
    <h5>{{ profile.name }}</h5>
    <p class="profile-role">{{ profile.role }}</p>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let menu of navMenu">
      <button mat-button class="menu-button" (click)="navigate(menu.route)">
        <i class="fa" ngClass="{{ menu.icon }}"></i>
        <span class="menu-name">{{ menu.name }}</span>
      </button>
    </ng-container>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="logout()">
      <i class="fa fa-power-off"></i>
      <span class="menu-name">LOG-OUT</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>