<app-spinner></app-spinner>
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <i class="fa" [ngClass]="sidenav.opened ? 'fa-times' : 'fa-bars'"></i>
    <span class="title">HIBAKU</span>
  </button>
  <div class="active-menu" *ngIf="activeMenu">
    {{ activeMenu }}
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div class="sidenav-container">
      <div>
        <i class="gg gg-hibaku menu-logo"></i>
        <h5>{{ profile.name }}</h5>
        <p class="profile-role">{{ profile.role }}</p>
        <ng-container *ngFor="let menu of navMenu">
          <button mat-button
            type="button"
            class="menu-button"
            (click)="navigate(menu)"
            [ngClass]="{'current-menu': menu.name.toUpperCase() === activeMenu}">
            <i class="fa" ngClass="{{ menu.icon }}"></i>
            <span class="menu-name">{{ menu.name }}</span>
          </button>
        </ng-container>
      </div>
      <div>
        <button mat-button class="menu-button" (click)="logout()">
          <i class="fa fa-power-off"></i>
          <span class="menu-name">LOG-OUT</span>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <ng-container *ngIf="navMenu.length > 0; else notVerified">
        <router-outlet></router-outlet>
      </ng-container>
      <ng-template #notVerified>
        <div class="not-verified">
          <h1>AKUN BELUM AKTIF</h1>
          <p>Silakan hubungi administrator HIBAKU untuk proses verifikasi akun.</p>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>