<div class="dialog-container">
  <h5 style="text-align: center;">
    <strong>
      <ng-container *ngIf="user.account.verified; else verifyAccount">
        Akun sudah terverifikasi&nbsp;
        <i class="fa fa-check green"></i>
      </ng-container>
      <ng-template #verifyAccount>
        Apakah Anda yakin akan memberi verifikasi akun ini?
      </ng-template>
    </strong>
  </h5>
  <hr>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <p><strong>User ID:</strong></p>
      <p><strong>Jenis Akun:</strong></p>
      <p><strong>NIK:</strong></p>
      <p><strong>Nama:</strong></p>
      <p><strong>Alamat:</strong></p>
    </div>
    <div class="col-md-5">
      <p>{{ user.userId }}</p>
      <p>{{ user.accountType === '2' ? 'PRODUSEN' : 'PENERIMA HIBAH' }}</p>
      <p>{{ user.nik }}</p>
      <p>{{ user.firstName.concat(' ').concat(user.lastName) }}</p>
      <p>{{ user | fullAddress }}</p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <hr>
  <div class="button-container">
    <button type="button"
      class="btn"
      [ngClass]="user.account.verified ? 'btn-danger' : 'btn-primary'"
      (click)="confirm()">
      {{ user.account.verified ? 'SUSPEND' : 'VERIFIKASI' }}
    </button>
    <button type="button" class="btn btn-warning" (click)="close()">TUTUP</button>
  </div>
</div>
