<div class="container">
  <div class="login-container">
    <div class="login-box">
      <div class="logo-box">
        <img src="assets/hibaku-text-logo.svg" class="logo" alt="HIBAKU logo">
      </div>
      <h4 class="login-header">LOGIN</h4>
      <hr>
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <div class="form-group">
          <input type="text"
            class="form-control"
            id="inputUserId"
            formControlName="username"
            placeholder="User ID"
            [value]="loginForm.get('username').value | lowercase | noWhitespace"
            [ngClass]="{ 'is-invalid': loginForm.get('username').errors && loginForm.get('username').touched }">
          <ng-container *ngIf="loginForm.get('username').dirty && loginForm.get('username').errors">
            <div *ngIf="loginForm.get('username').errors.required" class="invalid-feedback">
              User ID wajib diisi.
            </div>
            <div *ngIf="loginForm.get('username').errors.minlength" class="invalid-feedback">
              User ID minimal {{ loginForm.get('username').errors.minlength.requiredLength }} karakter.
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="password"
            class="form-control"
            id="inputPass"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{ 'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched }">
          <ng-container *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">
            <div *ngIf="loginForm.get('password').errors.required" class="invalid-feedback">
              Kata sandi wajib diisi.
            </div>
            <div *ngIf="loginForm.get('password').errors.minlength" class="invalid-feedback">
              Kata sandi minimal {{ loginForm.get('password').errors.minlength.requiredLength }} karakter.
            </div>
          </ng-container>
        </div>
        <button type="submit" class="btn btn-block btn-login" [disabled]="!loginForm.valid">LOGIN</button>
        <hr>
        <div class="reg-button-container">
          <button type="button" class="btn btn-register btn-info" (click)="register('USER')">REGISTRASI KTP</button>
          <button type="button" class="btn btn-register btn-success" (click)="register('ACCOUNT')">REGISTRASI AKUN</button>
        </div>
      </form>
    </div>
  </div>
</div>
