<div class="container">
  <div class="login-container">
    <div class="login-box">
      <div class="logo-box">
        <img src="assets/Hibahku-logo.svg" class="logo" alt="HIBAHKU logo">
      </div>
      <h4 class="login-header">LOGIN</h4>
      <hr>
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <div class="form-group">
          <input type="text"
            class="form-control"
            id="inputUserId"
            formControlName="username"
            placeholder="User ID"
            [ngClass]="{ 'field-error': loginForm.controls['username'].errors && loginForm.controls['username'].touched }">
            <span *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].dirty" class="form-error-message">
              User ID wajib diisi.
            </span>
        </div>
        <div class="form-group">
          <input type="password"
            class="form-control"
            id="inputPass"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{ 'field-error': loginForm.controls['password'].errors && loginForm.controls['password'].touched }">
            <span *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].dirty" class="form-error-message">
              Password wajib diisi.
            </span>
        </div>
        <small *ngIf="false" id="loginError" class="form-text">User ID dan/atau password salah</small>
        <button type="submit" class="btn btn-block btn-login" [disabled]="!loginForm.valid">LOGIN</button>
        <hr>
        <div class="reg-button-container">
          <button type="button" class="btn btn-register btn-info" (click)="register('USER')">REGISTRASI KTP</button>
          <button type="button" class="btn btn-register btn-success" (click)="register('ACCOUNT')">REGISTRASI AKUN</button>
        </div>
      </form>
    </div>
  </div>
</div>
