.dialog-container {
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
}

.button-container {
  display: flex;
  margin-top: 35px;
  justify-content: space-around;
}

button.btn {
  min-width: 300px;
  padding: 10px;
}
