.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 80vw;
}

.btn-table {
  padding: 3px 6px;
  font-size: 12px;
}

.btn-container {
  position: relative;
}

.btn-right {
  position: absolute;
  right: 0;
}

.btn-center {
  margin: auto;
}
