.registrasi-container {
  min-height: 80vh;
  min-width: 70vw;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button.btn {
  min-width: 500px;
  padding: 10px;
}

button:disabled {
  opacity: .3;
  cursor: not-allowed;
}
