<div class="registrasi-container">
  <h5 style="text-align: center; font-weight: bold;">REGISTRASI AKUN HIBAKU</h5>
  <hr>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="inputNik">NIK:</label>
      <input type="text"
        formControlName="nik"
        class="form-control"
        id="inputNik"
        placeholder="16 digit Nomor Induk KTP"
        [value]="form.get('nik').value | onlyNumeric | noWhitespace"/>
      <small class="form-text text-muted">*NIK yang sebelumnya telah didaftarkan pada menu Registrasi User HIBAKU</small>
    </div>
    <div class="form-group">
      <label for="inputUserId">User ID:</label>
      <input type="text"
        formControlName="userId"
        class="form-control"
        id="inputUserId"
        placeholder="userid.123"
        [value]="form.get('userId').value | lowercase | noWhitespace"/>
      <small class="form-text text-muted">*Gunakan alamat email atau kombinasi [nama-depan].[nama-belakang] agar mudah diingat</small>
    </div>
    <div class="form-group">
      <label for="inputPass">Kata Sandi:</label>
      <input type="password" formControlName="pass" class="form-control" id="inputPass" placeholder="Password"/>
    </div>
    <div class="form-group" *ngIf="form.get('pass').value">
      <label for="inputPassConfirm">Ulangi Kata Sandi:</label>
      <input type="password"
        formControlName="passConfirm"
        class="form-control"
        id="inputPassConfirm"
        placeholder="Password"
        [ngClass]="{'is-invalid': form.get('passConfirm').value && form.get('passConfirm').value !== form.get('pass').value}"/>
      <div class="invalid-feedback">Kata sandi tidak sesuai</div>
    </div>
    <hr>
    <div class="button-container">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid || form.get('pass').value !== form.get('passConfirm').value">DAFTAR</button>
      <button type="button" class="btn btn-danger" (click)="close()">BATAL</button>
    </div>
  </form>
</div>
