<nav class="pagination-container">
  <div class="page-item" style="margin-right: 25px;">
    <form class="form-inline" *ngIf="paging.totalData">
      <span class="paging-text">Menampilkan:&emsp;</span>
      <div class="input-group" style="max-width: 100px;">
        <input type="number" min="1" name="rows" class="form-control" max="{{ paging.totalData }}" [(ngModel)]="paging.limit">
        <div class="input-group-append">
          <button class="btn btn-warning" type="button" (click)="onSetRows()">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
      </div>
      <span class="paging-text">&emsp;dari total <strong>{{ paging.totalData }}</strong> data</span>
    </form>
  </div>
  <ul class="pagination">
    <li class="page-item" *ngIf="paging.totalPage > 1 && paging.page !== 1" matTooltipPosition="above" matTooltip="Ke halaman sebelumnya">
      <a class="page-link" aria-label="Previous" (click)="onPageClick(paging.page - 1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <ng-container *ngIf="pages && pages.length > 1">
      <li *ngFor="let page of pages" class="page-item">
        <a class="page-link" [ngClass]="{'current-page': paging.page === page}" (click)="onPageClick(page)">{{ page }}</a>
      </li>
    </ng-container>
    <li class="page-item" *ngIf="paging.totalPage > 1 && paging.page !== paging.totalPage" matTooltipPosition="above" matTooltip="Ke halaman selanjutnya">
      <a class="page-link" aria-label="Next" (click)="onPageClick(paging.page + 1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
