<div class="container" style="margin-top: 25px;">
  <div class="row" *ngIf="dataTable && dataTable.length > 0; else noData">
    <table class="table table-bordered table-hover">
      <thead><tr><th *ngFor="let header of tableHeaders" scope="col">{{ header }}</th></tr></thead>
      <tbody>
        <tr *ngFor="let data of dataTable; let i = index">
          <td><strong>{{ i + paging.startRow }}</strong></td>
          <td>{{ data.commodityDetails.name }}</td>
          <td>{{ data.quantity + ' ' + data.commodityDetails.unit }}</td>
          <td>{{ data.type === 'SUPPLY' ? 'PASOKAN' : 'PERMINTAAN' }}</td>
          <td>{{ data.quantity * data.commodityDetails.price | currency: 'Rp. ' }}</td>
          <td>{{ data.userDetails.displayName }} - <strong>{{ data.userId }}</strong></td>
          <td>{{ data.createdDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <p class="no-data">No data to display.</p>
  </ng-template>
  <div class="row btn-container">
    <hibaku-pagination [paging]="paging" (setPage)="onPagingEvent($event)"></hibaku-pagination>
    <button type="button" class="btn btn-primary" (click)="openForm()" [ngClass]="dataTable && dataTable.length > 0 ? 'btn-right' : 'btn-center'">
      <i class="fa fa-plus"></i>&nbsp;PERMINTAAN / PASOKAN
    </button>
  </div>
</div>