<div class="container" style="margin-top: 25px;">
  <div class="row" *ngIf="dataTable && dataTable.length > 0; else noData">
    <table class="table table-bordered table-hover">
      <thead><tr><th *ngFor="let header of tableHeaders" scope="col">{{ header }}</th></tr></thead>
      <tbody>
        <tr *ngFor="let data of dataTable; let i = index">
          <td><strong>{{ i + this.paging.startRow }}</strong></td>
          <td>
            {{ data.nik }}
            <i class="fa"
              matTooltipPosition="after"
              matTooltip="User {{ data.userId ? 'sudah' : 'belum' }} registrasi akun"
              [ngClass]="data.userId ? 'fa-check green' : 'fa-times red'">
            </i>
          </td>
          <td>{{ data.firstName + ' ' + data.lastName }}</td>
          <td>{{ data.birthDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ data.birthPlace }}</td>
          <td>{{ data | fullAddress }}</td>
          <td>
            <button *ngIf="data.account"
              type="button"
              class="btn btn-warning btn-table"
              matTooltipPosition="below"
              matTooltip="{{data.account.verified ? 'Lihat Akun' : 'Verifikasi Akun' }}"
              (click)="verifyUser(data)">
              <i class="fa" [ngClass]="data.account.verified ? 'fa-external-link-square' : 'fa-pencil-square-o'"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <p class="no-data">No data to display.</p>
  </ng-template>
  <div class="row btn-container">
    <hibaku-pagination [paging]="paging" (setPage)="onPagingEvent($event)"></hibaku-pagination>
    <button type="button"
      class="btn btn-primary"
      [ngClass]="dataTable && dataTable.length > 0 ? 'btn-right' : 'btn-center'"
      (click)="registerUser()">
      <i class="fa fa-plus"></i>&nbsp;Registrasi Baru
    </button>
  </div>
</div>