:root {
  --color1: #28DF99;
  --color2: #99F3BD;
  --color3: #D2F6C5;
  --color4: #F6F7D4;
  --colorErr: crimson;
}

html, body {
  height: 100%;
}

body {
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  background-color: var(--color4);
  color: var(--color1);
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

.btn-primary,
.btn-primary:focus {
  background-color: var(--color1);
  border-color: var(--color2);
}

.btn-primary:hover {
  background-color: var(--color3);
  border-color: var(--color4);
  color: var(--color1);
}

.btn-primary:disabled {
  background-color: var(--color1);
  border-color: var(--color2);
  color: #FFF;
  opacity: .3;
}

.is-invalid {
  border: 2px solid var(--colorErr);
}

.invalid-feedback {
  color: var(--colorErr);
}
